Repository kisstar/vuepress-theme-extreme: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, yarn run lint:md, prettier --write

feat($theme-extreme): 添加标签页面
  packages/vuepress-theme-extreme/layouts/Tag.vue
  packages/vuepress-theme-extreme/node/options.js
  packages/vuepress-theme-extreme/styles/index.less
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/pagination/index.less
  packages/vuepress-theme-extreme/styles/layout/tag/index.less
  packages/vuepress-theme-extreme/styles/mixins/article-list-container.less
  packages/vuepress-theme-extreme/styles/mixins/index.less
  packages/vuepress-theme-extreme/styles/mixins/stretch-screen.less
  packages/vuepress-theme-extreme/styles/variable/size.less
  yarn.lock
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

refactor($theme-extreme): 创建 GlobalLayout 组件统一页面整体布局
  .eslintrc
  packages/vuepress-theme-extreme/layouts/404.vue
  packages/vuepress-theme-extreme/layouts/GlobalLayout.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/layouts/Post.vue
  packages/vuepress-theme-extreme/layouts/Tag.vue
  packages/vuepress-theme-extreme/pages/home/index.vue
  packages/vuepress-theme-extreme/pages/pagination/index.vue
  packages/vuepress-theme-extreme/styles/global.less
  packages/vuepress-theme-extreme/styles/index.less
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/layout/pagination/index.less
  packages/vuepress-theme-extreme/styles/layout/tag/index.less
  packages/vuepress-theme-extreme/styles/mixins/article-list-container.less
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 添加标签列表页面
  packages/vuepress-theme-extreme/assets/images/default-tag-cover.jpg
  packages/vuepress-theme-extreme/components/Card.vue
  packages/vuepress-theme-extreme/layouts/GlobalLayout.vue
  packages/vuepress-theme-extreme/layouts/Tags.vue
  packages/vuepress-theme-extreme/lib/util.js
  packages/vuepress-theme-extreme/styles/layout/card.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/tag/index.less
  packages/vuepress-theme-extreme/styles/lib/grid.less
  packages/vuepress-theme-extreme/styles/theme/card.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
  packages/vuepress-theme-extreme/styles/variable/size.less
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 完善文章的显示格式
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/navbar.less
  packages/vuepress-theme-extreme/styles/layout/post/code.less
  packages/vuepress-theme-extreme/styles/layout/post/index.less
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  packages/vuepress-theme-extreme/styles/mixins/article-list-container.less
  packages/vuepress-theme-extreme/styles/theme/article/index.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/navbar.less
  packages/vuepress-theme-extreme/styles/theme/post/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
  yarn.lock
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 文章底部显示编辑和最近更新
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/lib/util.js
  packages/vuepress-theme-extreme/lib/vue-types.js
  packages/vuepress-theme-extreme/node/options.js
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/pages/article/Edit.vue
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/theme/article/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
  yarn.lock
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 添加上一篇和下一篇的导航
  packages/vuepress-theme-extreme/pages/article/Nav.vue
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  packages/vuepress-theme-extreme/styles/theme/article/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 博文头部显示 Meta 信息
  packages/vuepress-theme-extreme/lib/util.js
  packages/vuepress-theme-extreme/pages/article/Meta.vue
  packages/vuepress-theme-extreme/pages/article/Tag.vue
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  packages/vuepress-theme-extreme/styles/theme/article/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 支持评论系统
  packages/vuepress-theme-extreme/node/options.js
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  yarn.lock
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 调整正文的显示样式
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  packages/vuepress-theme-extreme/styles/theme/post/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
  yarn.lock
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

fix($theme-extreme): 部分组件在没有文章列表时报错
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/pages/home/index.vue
Due: yarn run lint:vue, prettier --write

feat($theme-extreme): 补齐博文中的表格样式
  packages/vuepress-theme-extreme/styles/layout/post/markdown.less
  packages/vuepress-theme-extreme/styles/theme/post/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: stylelint --syntax less, prettier --write

feat($theme-extreme): 发表时间去掉时分秒信息
  packages/vuepress-theme-extreme/pages/article/Meta.vue
Due: yarn run lint:vue, prettier --write

feat($theme-extreme): 基于插件支持搜索功能
  .eslintrc
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/pages/home/Banner.vue
  packages/vuepress-theme-extreme/styles/layout/home/index.less
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, prettier --write

docs: 更新主题开发和博客插件说明
  packages/docs/posts/.vuepress/config.js
  packages/docs/posts/.vuepress/public/favicon.ico
  packages/docs/posts/.vuepress/public/images/blog-plugin.png
  packages/docs/posts/.vuepress/public/images/vuepress-theme.png
  packages/docs/posts/.vuepress/public/images/vuepress.jpg
  packages/docs/posts/vuepress/2021-05-20-theme-dev.md
  packages/docs/posts/vuepress/2021-05-21-plugin-blog.md
Due: yarn run lint:es, yarn run lint:md, prettier --write

docs: 添加 Extreme 主题的使用说明
  packages/docs/posts/.vuepress/public/images/theme-extreme.png
  packages/docs/posts/vuepress/2021-05-22-theme-extreme.md
Due: yarn run lint:md, prettier --write

docs: 更新 Extreme 主题的使用说明
  packages/docs/posts/vuepress/2021-05-22-theme-extreme.md
Due: yarn run lint:md, prettier --write

feat($theme-extreme): 首页 Banner 支持随机背景图和自定义文案
  packages/vuepress-theme-extreme/assets/images/banner.jpg
  packages/vuepress-theme-extreme/pages/home/Banner.vue
  packages/vuepress-theme-extreme/pages/home/index.vue
Due: yarn run lint:vue, prettier --write

chore: update .gitignore & add vscode config
  .gitignore
  .vscode/settings.json
Due: prettier --write

fix($theme-extreme): 导航的菜单切换按钮在小屏缺失
  packages/vuepress-theme-extreme/components/Navbar.vue
Due: yarn run lint:vue, prettier --write

feat($theme-extreme): 列表中标签间添加分割线
  packages/vuepress-theme-extreme/components/Footer.vue
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/styles/layout/latest.less
  packages/vuepress-theme-extreme/styles/theme/latest.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

feat($theme-extreme): 完善 404 页面
  packages/vuepress-theme-extreme/assets/images/404.png
  packages/vuepress-theme-extreme/layouts/404.vue
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/not-found.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/not-found.less
Due: stylelint --syntax less, yarn run lint:vue, prettier --write

chore: add scope for vuepress-theme-extreme
  .markdownlintrc
  README.md
  packages/docs/README.md
  packages/docs/package.json
  packages/vuepress-theme-extreme/README.md
  packages/vuepress-theme-extreme/package.json
Due: yarn run lint:md, prettier --write

feat($theme-extreme): 使用容器插件注册新的 Markdown 容器
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/node/options.js
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/styles/index.styl
  packages/vuepress-theme-extreme/styles/third-party/custom-blocks.styl
  yarn.lock
Due: yarn run lint:es, prettier --write

feat($theme-extreme): 博文头部标签文案居中
  packages/vuepress-theme-extreme/styles/layout/article/index.less
Due: stylelint --syntax less, prettier --write

"chore(release): 0.0.1"
  packages/vuepress-theme-extreme/CHANGELOG.md
  packages/vuepress-theme-extreme/package.json
Due: yarn run lint:md, prettier --write

chore(release): 0.0.1
  packages/vuepress-theme-extreme/CHANGELOG.md
  packages/vuepress-theme-extreme/package.json
Due: yarn run lint:md, prettier --write

feat($extreme): 搜索框内置在 Banner 中
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: stylelint --syntax less, prettier --write

refactor(theme-extreme): remove global component swiper
  packages/vuepress-theme-extreme/README.md
  packages/vuepress-theme-extreme/enhanceApp.js
  packages/vuepress-theme-extreme/global-components/swiper/index.jsx
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/swiper.less
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:md, prettier --write

fix(theme-extreme): duplicate key for tag name and separator
  packages/vuepress-theme-extreme/components/Latest.vue
Due: yarn run lint:vue, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/css/0.styles.de4aea5c.css
  assets/img/404.4d522fea.png
  assets/img/default-tag-cover.8960ca76.jpg
  assets/img/logo.46de8c82.png
  assets/img/search.83621669.svg
  assets/js/1.30cb5108.js
  assets/js/10.a266eaba.js
  assets/js/11.ec76cc6f.js
  assets/js/12.ae2e2e03.js
  assets/js/4.2bea1413.js
  assets/js/5.8f1c8113.js
  assets/js/6.f8f7f2c6.js
  assets/js/7.1c0f20a2.js
  assets/js/8.b511db01.js
  assets/js/9.8ed14c15.js
  assets/js/app.4d1cdd02.js
  assets/js/vuejs-paginate.a389f153.js
  banner.jpg
  favicon.ico
  images/blog-plugin.png
  images/theme-extreme.png
  images/vuepress-theme.png
  images/vuepress.jpg
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/css/0.styles.a4873542.css
  assets/css/0.styles.de4aea5c.css
  assets/js/10.37785f02.js
  assets/js/10.a266eaba.js
  assets/js/11.ac54f79c.js
  assets/js/11.ec76cc6f.js
  assets/js/9.4a6df10d.js
  assets/js/9.8ed14c15.js
  assets/js/app.42e0cc33.js
  assets/js/app.4d1cdd02.js
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

chore(docs): 更新主题配和置添加文档静态服务
  package.json
  packages/docs/package.json
  packages/docs/posts/.vuepress/config.js
  packages/docs/posts/.vuepress/public/banner.jpg
  yarn.lock
Due: yarn run lint:es, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/css/0.styles.a4873542.css
  assets/css/0.styles.ecc76d76.css
  assets/js/10.37785f02.js
  assets/js/10.3d682ec8.js
  assets/js/11.ac54f79c.js
  assets/js/11.b438435d.js
  assets/js/9.307b3bd7.js
  assets/js/9.4a6df10d.js
  assets/js/app.217d9b4c.js
  assets/js/app.42e0cc33.js
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

docs: update development and usage instructions
  README.md
  package.json
  packages/docs/posts/vuepress/2021-05-20-theme-dev.md
  packages/docs/posts/vuepress/2021-05-21-plugin-blog.md
  packages/docs/posts/vuepress/2021-05-22-theme-extreme.md
  packages/vuepress-theme-extreme/README.md
Due: yarn run lint:md, prettier --write

feat($theme-extreme): 搜索框内置在 Banner 中
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: stylelint --syntax less, prettier --write

refactor($theme-extreme): remove global component swiper
  packages/vuepress-theme-extreme/README.md
  packages/vuepress-theme-extreme/enhanceApp.js
  packages/vuepress-theme-extreme/global-components/swiper/index.jsx
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/swiper.less
Due: yarn run lint:es, stylelint --syntax less, yarn run lint:md, prettier --write

fix($theme-extreme): duplicate key for tag name and separator
  packages/vuepress-theme-extreme/components/Latest.vue
Due: yarn run lint:vue, prettier --write

chore: 更新主题配和置添加文档静态服务
  package.json
  packages/docs/package.json
  packages/docs/posts/.vuepress/config.js
  packages/docs/posts/.vuepress/public/banner.jpg
  yarn.lock
Due: yarn run lint:es, prettier --write

fix($theme-extreme): failed to execute 'appendChild' on 'Node'
  packages/vuepress-theme-extreme/components/Link.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/layouts/404.vue
Due: yarn run lint:vue, prettier --write

Path conditions:
  yarn run lint:es: any of: *.js
  stylelint --syntax less: any of: *.less
  yarn run lint:vue: any of: *.vue
  yarn run lint:md: any of: *.md
  prettier --write: any of: **/*.{js,vue,html,less,md,json}
