Repository kisstar/vuepress-theme-extreme: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es, yarn run lint:md, prettier --write

chore: take over the project with Yarn Workspaces and Lerna
  lerna.json
  package.json
  packages/.gitkeep
  yarn.lock
Due: prettier --write

build: create project vuepress-theme-extreme
  packages/docs/package.json
  packages/vuepress-theme-extreme/README.md
  packages/vuepress-theme-extreme/package.json
  yarn.lock
Due: yarn run lint:md, prettier --write

build: create docs project
  .markdownlintrc
  package.json
  packages/docs/.markdownlintrc
  packages/docs/README.md
  packages/docs/docs/README.md
  packages/docs/package.json
  yarn.lock
Due: yarn run lint:md, prettier --write

feat($theme-extreme): create the infrastructure for the theme
  packages/docs/docs/.vuepress/config.js
  packages/vuepress-theme-extreme/components/Page.vue
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/layouts/404.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/templates/dev.html
Due: yarn run lint:es, prettier --write

chore: lint the <template> and <script> of .vue files
  .eslintrc
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

chore: rename blog to vuepress-theme-extreme
  README.md
  package.json
  packages/docs/README.md
  packages/docs/package.json
  packages/vuepress-theme-extreme/package.json
Due: yarn run lint:md, prettier --write

chore: enforce conventions in your styles to avoid errors
  .lintstagedrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc
  package.json
  yarn.lock
Due: prettier --write

chore: adjust the prettier to process files such as pictures
  .lintstagedrc
  .prettierignore
Due: none

style: correct style errors
  .eslintrc
  .huskyrc
  .lintstagedrc
  .markdownlintrc
  .prettierrc
  .stylelintrc
  packages/docs/.markdownlintrc
  packages/vuepress-theme-extreme/components/Page.vue
  packages/vuepress-theme-extreme/layouts/404.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/templates/dev.html
Due: none

feat($theme-extreme): use reset-css to reduce browser inconsistencies
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/styles/index.less
  yarn.lock
Due: prettier --write

build: support less
  packages/vuepress-theme-extreme/enhanceApp.js
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/styles/index.less
  yarn.lock
Due: yarn run lint:es, prettier --write

feat($theme-extreme): reset the scroll bar style
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/index.less
  packages/vuepress-theme-extreme/styles/theme/light.less
Due: prettier --write

feat($theme-extreme): provide basic navigation components
  packages/vuepress-theme-extreme/components/Divider.vue
  packages/vuepress-theme-extreme/components/NavLink.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/layouts/GlobalLayout.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/styles/index.less
  packages/vuepress-theme-extreme/styles/layout/divider.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/navbar.less
  packages/vuepress-theme-extreme/styles/theme/divider.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/light.less
  packages/vuepress-theme-extreme/styles/theme/navbar.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: yarn run lint:es, prettier --write

feat($theme-extreme): add drop-down selection of menu
  packages/vuepress-theme-extreme/components/DropdownLink.vue
  packages/vuepress-theme-extreme/components/NavLink.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/navbar.less
  packages/vuepress-theme-extreme/styles/theme/navbar.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

refactor($theme-extreme): take over CSS variables with LESS variables
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/theme/divider.less
  packages/vuepress-theme-extreme/styles/theme/navbar.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

fix($theme-extreme): invalid component name: "404"
  packages/vuepress-theme-extreme/layouts/404.vue
Due: none

feat($theme-extreme): improve the navbar
  packages/vuepress-theme-extreme/styles/layout/navbar.less
Due: prettier --write

feat($theme-extreme): create banner infrastructure and styles
  packages/vuepress-theme-extreme/components/home/Banner.vue
  packages/vuepress-theme-extreme/components/home/index.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/styles/layout/home.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/theme/home.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

feat($theme-extreme): use custom VueTypes for basic type checking
  packages/vuepress-theme-extreme/components/Divider.vue
  packages/vuepress-theme-extreme/components/DropdownLink.vue
  packages/vuepress-theme-extreme/components/NavLink.vue
  packages/vuepress-theme-extreme/lib/util.js
  packages/vuepress-theme-extreme/lib/vue-types.js
Due: yarn run lint:es, prettier --write

feat($theme-extreme): create infrastructure and styles for Timeline
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/lib/vue-types.js
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/timeline.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/timeline.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: yarn run lint:es, prettier --write

feat($theme-extreme): introducing grid system from Bootstrap 4
  packages/vuepress-theme-extreme/styles/index.less
  packages/vuepress-theme-extreme/styles/lib/grid.less
  packages/vuepress-theme-extreme/styles/lib/index.less
Due: prettier --write

feat($theme-extreme): create the basis for the latest updated module
  packages/vuepress-theme-extreme/components/home/RecentUpdate.vue
  packages/vuepress-theme-extreme/components/home/index.vue
  packages/vuepress-theme-extreme/styles/layout/home.less
  packages/vuepress-theme-extreme/styles/layout/recent-update.less
Due: prettier --write

feat($theme-extreme): increase the height of the navigation bar
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/navbar.less
Due: prettier --write

feat($theme-extreme): create footer component
  packages/vuepress-theme-extreme/components/home/Footer.vue
  packages/vuepress-theme-extreme/components/home/index.vue
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/home/footer.less
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/theme/home/footer.less
  packages/vuepress-theme-extreme/styles/theme/home/index.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

feat($theme-extreme): create a basic swiper component
  packages/vuepress-theme-extreme/enhanceApp.js
  packages/vuepress-theme-extreme/global-components/swiper/index.jsx
  packages/vuepress-theme-extreme/lib/util.js
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/swiper.less
Due: yarn run lint:es, prettier --write

chore: add .npmrc file
  .npmrc
Due: none

feat: fix and update something
  .gitignore
  packages/docs/docs/.vuepress/public/images/kelly-sikkema.jpg
  packages/docs/docs/README.md
  packages/vuepress-theme-extreme/components/home/Banner.vue
Due: yarn run lint:md, prettier --write

build(deps-dev): upgrade markdownlint and its related packages
  package.json
  packages/docs/package.json
  yarn.lock
Due: prettier --write

docs($theme-extreme): 更新说明文档
  packages/vuepress-theme-extreme/README.md
  packages/vuepress-theme-extreme/docs/official-dev.md
Due: yarn run lint:md, prettier --write

refactor($theme-extreme): 调整页面组件的位置
  packages/vuepress-theme-extreme/enhanceApp.js
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/layouts/GlobalLayout.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/pages/home/Banner.vue
  packages/vuepress-theme-extreme/pages/home/Footer.vue
  packages/vuepress-theme-extreme/pages/home/RecentUpdate.vue
  packages/vuepress-theme-extreme/pages/home/index.vue
  packages/vuepress-theme-extreme/styles/index.less
Due: yarn run lint:es, prettier --write

docs: 添加一些用于主题开发的资源和配置
  packages/docs/docs/.vuepress/config.js
  packages/docs/docs/.vuepress/public/extreme.png
  packages/docs/docs/.vuepress/public/images/banner.jpg
  packages/docs/docs/.vuepress/public/images/kelly-sikkema.jpg
  packages/docs/docs/README.md
Due: yarn run lint:es, yarn run lint:md, prettier --write

feat($theme-extreme): 完善 Banner 和导航栏
  packages/vuepress-theme-extreme/components/DropdownLink.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/pages/home/Banner.vue
  packages/vuepress-theme-extreme/styles/common.less
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/navbar.less
  packages/vuepress-theme-extreme/styles/lib/index.less
  packages/vuepress-theme-extreme/styles/lib/util.less
  packages/vuepress-theme-extreme/styles/theme/home/index.less
  packages/vuepress-theme-extreme/styles/theme/navbar.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

feat($theme-extreme): create infrastructure and styles for Latest
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/latest.less
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/latest.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

build: 引入 @vuepress/blog 插件
  .npmrc
  .yarnrc
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/package.json
  yarn.lock
Due: yarn run lint:es, prettier --write

feat($theme-extreme): 适配博客插件调整整体页面布局
  packages/vuepress-theme-extreme/assets/images/banner.jpg
  packages/vuepress-theme-extreme/assets/logo.png
  packages/vuepress-theme-extreme/components/Footer.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/layouts/GlobalLayout.vue
  packages/vuepress-theme-extreme/layouts/Post.vue
  packages/vuepress-theme-extreme/pages/article/index.vue
  packages/vuepress-theme-extreme/pages/home/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/footer.less
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/index.less
Due: yarn run lint:es, prettier --write

refactor($theme-extreme): 使用别名引用公用资源
  packages/vuepress-theme-extreme/components/Divider.vue
  packages/vuepress-theme-extreme/components/DropdownLink.vue
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/components/NavLink.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/global-components/swiper/index.jsx
  packages/vuepress-theme-extreme/lib/vue-types.js
  packages/vuepress-theme-extreme/pages/article/index.vue
Due: yarn run lint:es, prettier --write

refactor($theme-extreme): rename NavLink to Link
  packages/vuepress-theme-extreme/components/DropdownLink.vue
  packages/vuepress-theme-extreme/components/Footer.vue
  packages/vuepress-theme-extreme/components/Link.vue
  packages/vuepress-theme-extreme/components/Navbar.vue
Due: none

docs: 添加主题开发和博客插件说明
  packages/docs/docs/.vuepress/public/extreme.png
  packages/docs/docs/.vuepress/public/images/banner.jpg
  packages/docs/docs/README.md
  packages/docs/package.json
  packages/docs/posts/.vuepress/config.js
  packages/docs/posts/vuepress/2021-05-20-theme-dev.md
  packages/docs/posts/vuepress/2021-05-21-plugin-blog.md
Due: yarn run lint:es, yarn run lint:md, prettier --write

feat($theme-extreme): 首页显示文章列表
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/index.js
  packages/vuepress-theme-extreme/node/options.js
  packages/vuepress-theme-extreme/pages/home/RecentUpdate.vue
  packages/vuepress-theme-extreme/pages/pagination/index.vue
  packages/vuepress-theme-extreme/styles/layout/article/index.less
  packages/vuepress-theme-extreme/styles/layout/latest.less
  packages/vuepress-theme-extreme/styles/theme/latest.less
Due: yarn run lint:es, prettier --write

feat($theme-extreme): 增加分页页面
  packages/vuepress-theme-extreme/components/Latest.vue
  packages/vuepress-theme-extreme/components/Timeline.vue
  packages/vuepress-theme-extreme/layouts/Layout.vue
  packages/vuepress-theme-extreme/package.json
  packages/vuepress-theme-extreme/pages/home/index.vue
  packages/vuepress-theme-extreme/pages/pagination/index.vue
  packages/vuepress-theme-extreme/styles/layout/home/index.less
  packages/vuepress-theme-extreme/styles/layout/home/recent-update.less
  packages/vuepress-theme-extreme/styles/layout/index.less
  packages/vuepress-theme-extreme/styles/layout/pagination/index.less
  packages/vuepress-theme-extreme/styles/layout/timeline.less
  packages/vuepress-theme-extreme/styles/palette.styl
  packages/vuepress-theme-extreme/styles/theme/index.less
  packages/vuepress-theme-extreme/styles/theme/pagination/index.less
  packages/vuepress-theme-extreme/styles/variable/light.less
Due: prettier --write

Path conditions:
  yarn run lint:es: any of: *.js
  yarn run lint:md: any of: *.md
  prettier --write: any of: **/*.{js,jsx,tsx,ts,less,md,json}
