Repository kisstar/vuepress-theme-extreme: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:es, stylelint --syntax less, yarn run lint:vue, yarn run lint:md, prettier --write

.lintstagedrc:

{
  "*.js": ["yarn run lint:es"],
  "*.less": ["stylelint --syntax less"],
  "*.vue": ["yarn run lint:vue"],
  "*.md": ["yarn run lint:md"],
  "**/*.{js,vue,html,less,md,json}": ["prettier --write"]
}

feat: update the theme configuration of the doc
  packages/docs/posts/.vuepress/config.js
Due: yarn run lint:es, prettier --write

"chore(release): 0.0.2"
  packages/vuepress-theme-extreme/CHANGELOG.md
Due: yarn run lint:md, prettier --write

chore(release): 0.0.2
  packages/vuepress-theme-extreme/CHANGELOG.md
Due: yarn run lint:md, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/css/0.styles.0e015e27.css
  assets/js/1.30cb5108.js
  assets/js/1.b71bb4a9.js
  assets/js/10.3d682ec8.js
  assets/js/10.beaaee3c.js
  assets/js/11.7e2bb512.js
  assets/js/11.b438435d.js
  assets/js/12.5bbc362b.js
  assets/js/12.ae2e2e03.js
  assets/js/4.2bea1413.js
  assets/js/4.83bb6498.js
  assets/js/5.8f1c8113.js
  assets/js/5.be52d4f4.js
  assets/js/6.c37ac100.js
  assets/js/6.f8f7f2c6.js
  assets/js/7.1c0f20a2.js
  assets/js/7.3dbf78f5.js
  assets/js/8.508e7dcd.js
  assets/js/8.b511db01.js
  assets/js/9.05ed29b6.js
  assets/js/9.307b3bd7.js
  assets/js/app.217d9b4c.js
  assets/js/app.c0a18dcb.js
  assets/js/vuejs-paginate.8e4ca3c4.js
  assets/js/vuejs-paginate.a389f153.js
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/css/0.styles.0e015e27.css
  assets/css/0.styles.5e01d583.css
  assets/js/1.b71bb4a9.js
  assets/js/1.c3b2d910.js
  assets/js/10.55152ab6.js
  assets/js/10.beaaee3c.js
  assets/js/11.6c25be56.js
  assets/js/11.7e2bb512.js
  assets/js/12.27e76a04.js
  assets/js/12.5bbc362b.js
  assets/js/4.83bb6498.js
  assets/js/4.b7826580.js
  assets/js/5.82729a6d.js
  assets/js/5.be52d4f4.js
  assets/js/6.c37ac100.js
  assets/js/6.eff94bb9.js
  assets/js/7.3dbf78f5.js
  assets/js/7.89c807ca.js
  assets/js/8.2b61bac4.js
  assets/js/8.508e7dcd.js
  assets/js/app.a4f4d782.js
  assets/js/app.c0a18dcb.js
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

fix(-extreme): base address and logo are mutually exclusive
  packages/vuepress-theme-extreme/components/Navbar.vue
Due: yarn run lint:vue, prettier --write

docs: 更新标题和基础地址
  packages/docs/posts/.vuepress/config.js
Due: yarn run lint:es, prettier --write

Updates
  2021/05/20/theme-dev/index.html
  2021/05/21/plugin-blog/index.html
  2021/05/22/theme-extreme/index.html
  assets/js/app.9cb882b2.js
  assets/js/app.a4f4d782.js
  index.html
  tag/Vue/index.html
  tag/VuePress/index.html
  tag/index.html
Due: yarn run lint:es, prettier --write

fix($theme-extreme): base address and logo are mutually exclusive
  packages/vuepress-theme-extreme/components/Navbar.vue
Due: yarn run lint:vue, prettier --write

feat($theme-extreme): 调整底部边距
  packages/vuepress-theme-extreme/styles/layout/footer.less
Due: stylelint --syntax less, prettier --write
